/* template source: https://codepen.io/_Sabine/pen/QzzBve */
@import url('https://fonts.googleapis.com/css?family=Overlock');
body {
	background: #643a7a;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 145px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
  color: #4b384c;
  font-family: 'overlock', Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.location{
  background: #fff;
	box-shadow: -1rem 0 1rem rgba(0, 0, 0, .5);
  height: 50px;
  text-align: center;
  font-size:2em;
}
.front {
  position: absolute;
  width: 320px;
  height: 100px;
  left: 0;
  bottom: 0;
  background: #fff;
	box-shadow: -1rem 0 1rem rgba(0, 0, 0, .5);
}

.front .condition{
  float: left;
    margin-left: 20px;
    font-size: 45px;
    height: 90px;
    margin-top:15px;
}

.front .temperature {
  float: left;
  margin-left: 20px;
  font-size: 45px;
  line-height: 90px;
}
.front .info {
  float: left;
  margin: 2rem 0 0 1.75rem;
  font-size: 1.2rem;
  line-height: 20px;
}
.icons {
	position: absolute;
	top: 2rem;
	left: 12rem;
	line-height: 20px;
}
.front .preview {
  float: right;
  font-weight: 400;
  text-align: right;
  font-size: 1.2rem;
  line-height: 20px;
  margin: 25px 20px 0 0;
}
.front .preview td {
  padding: 0 3px;
  text-transform: uppercase;
}

.bottom{
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.bottom a:link, .bottom a:visited {
  color: white;
  font-weight: 900;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 1rem;
  border: 2px solid transparent;
  border-width: 0 5px;;
  padding: 5px;
}

.bottom a:hover, .bottom a:active {
  border-color: rgba(0, 0, 0, .5);
}

td img {
  max-width: 20px;;
}