body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faf8ef;
    font-family: 'Arial',sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 300px;
    margin-bottom: 20px;
}

#game-container {
    width: 400px;
    height: 400px;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}

#how-to {
    background-color: rgb(199, 194, 194);
    color: #000;
}

.grid-cell {
    width: 100%;
    height: 100%;
    background-color: #cdc1b4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #776e65;
}

.number-2 { background-color: #eee4da; }
.number-4 { background-color: #ede0c8; }
.number-8 { background-color: #f2b179; }
.number-16 { background-color: #f59563; }
.number-32 { background-color: #f67c5f; }
.number-64 { background-color: #f65e3b; }
.number-128 { background-color: #edcf72; }
.number-256 { background-color: #edcc61; }
.number-512 { background-color: #edc850; }
.number-1024 { background-color: #edc53f; }
.number-2048 { background-color: #edc22e; }