/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* STRUCTURAL */
body {
	background-color: beige;
	font-family: serif;
	margin: 0;
}

header {
	text-align: center;
	margin-bottom: 5rem;
	background-color: rgb(197, 62, 62);
	padding: 1rem;
}

main {
	text-align: center;
}

/* Text */
h1 {
	font-family: 'Great Vibes', serif;
	font-size: 3.5rem;
	margin: 1rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: normal;
}

a {
	color: black;
	text-decoration: none;
}

/* Buttons */
button {
	font-family: serif;
	font-size: 1.3rem;
	color: black;
	background-color: #f3f3f3;
	cursor: pointer;
	padding: 0.8rem;
	margin: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 9px #4b4b4b;
}

.menuButton {
	width: 10rem;
}

button:hover:enabled { /* only uses hover if button enabled*/
	background-color: darkgray;
}

button:active {
	box-shadow: 0 3px #3f3f3f;
	transform: translateY(6px);
}

button:disabled {
	color: grey;
	box-shadow: 0 3px #4b4b4b;
	transform: translateY(6px);
}

.menuButton {
	width: 10rem;
}

#gameArea .menuButton {
	display: none;
}

#ingredientButtons button {
	font-size: 1rem;
	padding: 0.5rem;
	box-shadow: 0 5px #4b4b4b;
	margin: 0.7rem;
}

#ingredientButtons button:active {
	box-shadow: 0 1px #3f3f3f;
	transform: translateY(3px);
}

#ingredientButtons button.correct {
	background-color: lightgreen;
}

#ingredientButtons button.incorrect {
	background-color: lightcoral;
}

/* Modal */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.4);
}

.modalContent {
	background-color: #f3f3f3;
	text-align: left;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	border-radius: 0.5rem;
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 100; }
}

.modalClose {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Game Styles */
#gameArea {
	display: none;
	margin: 5rem;
}

#gameTop {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#gameTopLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 0 1rem 1rem 1rem;
}

#gameTopRight {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

#gameArea p {
	margin: 0;
}

#gameArea h2 {
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0 0 2rem 0;
}

#recipeImage {
    height: auto;
	border-radius: 0.5rem;
	max-width: 25rem;
}

#recipeInfo {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem;
	text-align: left;
}

#timerArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px dotted black;
	padding: 0.3rem;
	margin: 0 1rem 1rem 1rem;
	width: 8.7rem;
}

#timerHeader {
    font-size: 1.2rem;
    font-weight: bold;
}

#timer {
	font-size: 1.5rem;
	margin-top: 0.1rem;
}

#bottom-divider {
	display: none;
	border-top: 1px solid lightgray;
	margin: 1rem 0 1rem 0;
}