@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sigmar+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
main{
    color:#666;
}
svg{
    color:#eccf77 ;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Sigmar One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: #0A6847;
}

body > header, body > footer{
    background-color: #0A6847;
}
body > header .nav-link:link, 
body > header .nav-link:visited {
    color: #ffffff;
}
body > header .nav-link:hover,
body > header .nav-link:active {
    color: #F6E9B2;
}

header .navbar-brand img{
    max-height: 30px;
    /* TODO: consider media query for larger breakpoint */
}

header .navbar-nav li:first-child a::after {
    content: '|';
    padding-left: 1em;
    color: #ffffff !important;
}
/* if not important we have to rewrite all our selectors 
header .navbar-nav li:first-child a:link::after
header .navbar-nav li:first-child a:visited::after
header .navbar-nav li:first-child a:hover::after
header .navbar-nav li:first-child a:active::after{
    color:
} */

a:link, a:visited{
    color: #F3CA52;
    text-decoration: none;
}
a:hover, a:active, a:hover svg, a:active svg{
    color: #0A6847;
    text-decoration: underline #0A6847 ;
}

/* PRIMARY BUTTON */
.btn-secondary, .btn-secondary:link, .btn-secondary:visited{
    background-color: #F3CA52;
    color: #0A6847;
}

.btn-secondary:hover{
    background-color: #eccf77;
}

.btn.btn-secondary:active{
    background-color: #f1c339;
    color: #0A6847;
}

.circleImage{
    border-radius: 50%
}

.smallerText{
    font-size: .9em;
    line-height: 1.2em;
}

body > footer{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #F6E9B2;
}
body > footer a:link,
body > footer a:visited,
body > footer h3{
    color: #F6E9B2;
}

body > footer a:hover,
body > footer a:active{
    color: #F3CA52;;
}

.nextDestination h3{
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-variant:normal;
    margin-bottom: 0;
}
.nextDestination p{
    line-height: 1.2em;;
}


h2 span{
    font-family:"Pacifico", cursive;
    color: #aaa;
}

/* SLIDER */
.slick-next:before, .slick-prev:before {
    color: #F3CA52;
}
.slick-prev {
    left: 15px;
    z-index: 10;
}
.slick-next{
    right: 15px;
    z-index: 10;
}

.slickSlider div{
    position: relative;
}
/* Add spacing between slides */
.slickSlider { overflow: hidden;}
.slick-slide { margin-left:27px; }
.slick-list { margin-left:-27px; }

@media (max-width:767px){
    .slickSlider article{
        background-color: rgba(10, 104, 71, .8);
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #F6E9B2;
    }
    .slickSlider article h2{
        color: #F6E9B2;
    }
    
}
/* MEDIA QUERIES */
@media (min-width:768px) {
    .footerSocialLegal{
        margin-top:-35px;
    }
}
/* MEDIA AND 
@media (min-width:800px) and (max-height: 200px){
    body >footer { background-color: red; }
}
*/

@media print{
    img{ display: none;}
}